USE [daemyung]
GO
/****** Object:  Table [dbo].[InspectionNGResults]    Script Date: 2025-10-22 3:15:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InspectionNGResults](
	[InspectionNGResultID] [int] IDENTITY(1,1) NOT NULL,
	[InspectionResultID] [int] NOT NULL,
	[ROIResultID] [int] NOT NULL,
 CONSTRAINT [PK_InspectionNGResults] PRIMARY KEY CLUSTERED 
(
	[InspectionNGResultID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InspectionResults]    Script Date: 2025-10-22 3:15:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InspectionResults](
	[InspectionResultID] [int] IDENTITY(1,1) NOT NULL,
	[TactTime] [datetime] NOT NULL,
	[CameraNum] [int] NOT NULL,
	[ImgPath] [varchar](500) NOT NULL,
	[Average] [float] NOT NULL,
	[VinID] [varchar](500) NOT NULL,
	[Shift] [varchar](50) NOT NULL,
	[CarName] [varchar](500) NOT NULL,
	[Result] [varchar](500) NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[LastModifyDate] [datetime] NOT NULL,
 CONSTRAINT [PK_InspectionResults] PRIMARY KEY CLUSTERED 
(
	[InspectionResultID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROIResults]    Script Date: 2025-10-22 3:15:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROIResults](
	[ROIResultID] [int] IDENTITY(1,1) NOT NULL,
	[InspectionResultID] [int] NOT NULL,
	[Score] [float] NOT NULL,
	[RoiName] [varchar](500) NOT NULL,
	[Result] [varchar](500) NOT NULL,
	[TrainRectangleX] [int] NOT NULL,
	[TrainRectangleY] [int] NOT NULL,
	[TrainRectangleHeight] [int] NOT NULL,
	[TrainRectangleWidth] [int] NOT NULL,
 CONSTRAINT [PK_ROIResults] PRIMARY KEY CLUSTERED 
(
	[ROIResultID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
